colorama==0.3.9; python_version == '3.7'
colorama; python_version > '3.7'

urllib3[secure]>=1.26.5; python_version == '3.7'
urllib3[secure]; python_version > '3.7'

junit-xml==1.8; python_version == '3.7'
junit-xml; python_version > '3.7'

PyYAML>=5.4; python_version == '3.7'
PyYAML; python_version > '3.7'

jsonschema==2.6.0; python_version == '3.7'
jsonschema; python_version > '3.7'

future>=0.18.0,<1.0; python_version == '3.7'
future; python_version > '3.7'

six==1.12.0; python_version == '3.7'
six; python_version > '3.7'

requests>=2.20,<3; python_version == '3.7'
requests; python_version > '3.7'

idna>=2,<2.8; python_version == '3.7'
idna; python_version > '3.7'

pyserial>=3,<=3.4; python_version == '3.7'
pyserial; python_version > '3.7'

jinja2>=2.11.3; python_version == '3.7'
jinja2; python_version > '3.7'

intelhex>=2.3.0,<3.0.0; python_version == '3.7'
intelhex; python_version > '3.7'

mbed-os-tools @ git+https://github.com/tobiasjaster/mbed-os-tools@python312; python_version > '3.7'

mbed-ls>=1.5.1,<2.0; python_version == '3.7'
mbed-ls @ git+https://github.com/tobiasjaster/mbed-os-tools@python312#subdirectory=packages/mbed-ls; python_version > '3.7'

mbed-host-tests>=1.4.4,<2.0; python_version == '3.7'
mbed-host-tests @ git+https://github.com/tobiasjaster/mbed-os-tools@python312#subdirectory=packages/mbed-host-tests; python_version > '3.7'

mbed-greentea>=0.2.24,<2.0; python_version == '3.7'
mbed-greentea @ git+https://github.com/tobiasjaster/mbed-os-tools@python312#subdirectory=packages/mbed-greentea; python_version > '3.7'

beautifulsoup4>=4,<=4.6.3; python_version == '3.7'
beautifulsoup4; python_version > '3.7'

pyelftools>=0.27,<=0.28; python_version == '3.7'
pyelftools; python_version > '3.7'

pycryptodome>=3.9.3,<4; python_version == '3.7'
pycryptodome; python_version > '3.7'

pyusb>=1.0.0,<2.0.0; python_version == '3.7'
pyusb; python_version > '3.7'

hidapi>=0.7.99,<0.8.0;platform_system!="Linux" and python_version == '3.7'
hidapi;platform_system!="Linux" and python_version > '3.7'

cmsis-pack-manager>=0.2.3,<0.3.0; python_version == '3.7'
cmsis-pack-manager; python_version > '3.7'

pywin32>=301;platform_system=='Windows'and python_version == '3.7'
pywin32;platform_system=='Windows' and python_version > '3.7'

wmi==1.4.9;platform_system=='Windows' and python_version == '3.7'
wmi;platform_system=='Windows' and python_version > '3.7'

psutil==5.6.7; python_version == '3.7'
psutil; python_version > '3.7'

cryptography>=3.2,<4; python_version == '3.7'
cryptography; python_version > '3.7'

Click>=7.0,<8; python_version == '3.7'
Click; python_version > '3.7'

cbor>=1.0.0; python_version == '3.7'
cbor; python_version > '3.7'
